*{
    margin: 0%;
    padding: 0%;
}

.pantalla_completa {
    width: 100%;
    height: 100%;
}

html, body, main, section{
    width: 100%;
    height: 100%;
}

header {
    color: white;
    background-color: black;
    text-align: center;
    
}


nav {
    position: fixed;
    text-align: center;
    width: 100%;
    justify-content: center;
}

ul li {    
    display: inline-flex;
    padding-top: 30px;
}

ul li a {
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 30px ;
    padding-right: 20px;
    padding-left: 20px;

}

div {
    width: 50%;
    height: 100%;

}
div p {
    color:black;
}

#principal {
    background-image: url(https://scontent.ffdo1-1.fna.fbcdn.net/v/t1.6435-9/154444628_10223490683070885_7471468265429712496_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=19026a&_nc_ohc=TxJFDajuLIAAX_tw-f7&_nc_ht=scontent.ffdo1-1.fna&oh=6f34cfb86eaca0dd79b645b249e9ce94&oe=60D46E27);
}

#quien_soy {

    background-color: honeydew;
}

#trabajos_y_drones {
    background-color: rgb(rgb(64, 78, 76), green, blue);
}

#contacto {
    background-color: grey;
}
#lista_contacto ul li a{
    color: black;
}

footer {
    color:white;
    background-color:black;
    text-align: center;
}