*{
    margin: 0%;
    padding: 0%;
}



html, body, main{
    width: 100%;
    height: 100%;
    font-family: 'Playfair Display', serif;
}

/* -------Header------- */

header {
    display:flex;
    justify-content: center;
    color: white;
    background-color: black;
    text-align: start;
    font-size: 20px;
    
}

h3{
    float: right;
}

nav {
    position: fixed;
    z-index: 2;
    text-align: center;
    width: 100%;
    
    
}

ul li {    
    display: inline-flex;

}

ul li a {
    justify-content: space-between;
    color:white;
    text-decoration: none;
    font-size: 30px ;
    padding-right: 20px;
    padding-left: 20px;

}

body{
    display: flex;
    flex-flow: column nowrap;
}





/* -------Sección_Principal------- */


#fondo_principal {
    display: flex;
    width: 100%;
    background-image: url(imagenes/principal.jpg.jpg);
    background-repeat: no-repeat;
    box-shadow: inset 0 0 150px black;
}



/* -------Sección_Quien_Soy------- */

div {
    float: left;
    width: 50%;
    height: 100%; 
}
.derecha{
    float: right;
    width: 50%;
    height: 100%;   
}
.izquierda_chica{
    float: left;
    width: 40%;
    height: 100%;
    background-color:#363d40;
}
.derecha_grande{
    
    width: 60%;
    height: 100%;
}
#panel_derecho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#9e9d9c;
}

div#panel_derecho div h5{
    text-align: center;
    color: white;
    font-size: 20px;
}

div#panel_derecho div p{
    text-align:justify;
    color: rgba(17, 2, 2, 0.986);
    font-size: 20px;
}

#texto_quien_soy{
    align-items: center;
    display:flex;
    flex-direction: column;
    height: 80%;
    padding-top: 100px;
    width: 60%;
    background-color: #9e9d9c;
    border: 5px;

}
#texto_quien_soy div{
     width: 100%;
}




#nombre_de_quien_soy{
    font-size: 70px;
    color: white;
    text-align: center;
}


#foto_quien_soy{
    padding-left: 65px;
    border-radius: 0%;
    clip-path: polygon(22% 0, 91% 0, 78% 100%, 12% 100%);
    z-index: 0;
  
}

#quien_soy {
    width: 100%;
    height: 100%;
    background-color: honeydew;
}

div#panel_derecho div#texto_quien_soy h5{
    
    color: black;
    font-size: 40px;
}


/* -------Sección_Trabajos_y_Drones------- */

#trabajos_y_drones {
    background-color: rgb(rgb(64, 78, 76), green, blue);
}


#panel_izquierdo_trabajos_y_drones{
    background-color: #363d40;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div#videos {
    background-color:  #9e9d9c;
    display:flex;
    flex-wrap: wrap;
    float: left;
    height: 50%;
    width: 50%;
}

 #video_izquierda{
    width: 280px;
    height: 157px;
    margin-top: 30px;
    margin-left: 60px;
    padding-left: 10px;
    box-shadow: 0 0 50px #363d40;
       
}

 #video_centro{
    width: 280px;
    height: 157px;
    padding-left: 10px;
    margin-top: 25%;
    box-shadow: 0 0 50px #363d40;
    

}




#caja_drones {
    background-color: #e8ebe5;
    float: left;
    display: flex;
    height: 50%;
    width: 50%;
}

#dron_izquierda{
    justify-content: center;
}

div#texto_trabajos_y_drones{
    background:none;
    width: 600px;
    height: 200px;
    border: 8px;
    border-right-style: solid;
    border-color: white;
}
.dron{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contenedor_imagen_dron1{
    width: 280px;
    height: 157px;

}

#contenedor_imagen_dron2{
    width: 280px;
    height: 157px;

}
.texto_centrado{
    text-align: center;
    height: 200px;
    width: 100%;

}

div#texto_trabajos_y_drones h4{
    color: white;
    font-size: 70px;
    text-align: center;
}
 

/* -------Contacto------- */


#contacto {
    background-color: grey;
}

#contacto_texto{
    height: 50%;
    width: 100%;
}
div#contacto_texto h4{
    font-size: 100px;
    margin-top: 200px;
    text-align: center;
}

#lista_de_contacto{
    justify-content: space-between;
    text-align: center;
    height: 50%;
    width: 100%;

}

#lista_contacto ul li a{
    color: black;
}

